@mixin core-button {
  @include flex-center;
  @include hover(var(--dr-orange-hover));
  background: var(--dr-orange);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  color: white;
  letter-spacing: -0.01em;
  padding: 10px;
  box-sizing: border-box;
  padding: 8px 34px;

  &.black {
    @include hover(var(--dark-color-300));
    background: var(--black-color);

    >span {
      color: var(--white-color);
    }
  }

  &.green {
    @include hover(var(--lavender-color-300));
    background: var(--lavender-color-200);
  }

  &.yellow {
    @include hover(var(--secondary-700));
    border-radius: 45px;
    background: var(--yellow-color-100);
    padding: 14px 20px;
  }

  &.lavender {
    @include hover(var(--lavender-color-400));
    background: var(--lavender-color-500);
  }

  &.pink {
    @include hover(var(--pink-color-100));
    background: var(--pink-color-200);
  }

  >span {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 32px;
    color: var(--black-color);
  }
}

@mixin hover-order-head {
  >span.order-head {
    &:deep(span) {
      opacity: 1;
    }
  }
}

@mixin loader-fixed {
  position: fixed;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  top: auto;
  bottom: 30px;
}

@mixin page-modal {
  min-width: 800px;
  max-width: 1000px;
  padding: 26px;
  box-sizing: border-box;
  background-color: var(--dr-bg);

  >div.title {
    @include flex-between;

    >span.search {
      font-weight: 600;
      font-size: 17px;
    }
  }
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin min-max($size) {
  min-height: $size;
  max-height: $size;
  max-width: $size;
  min-width: $size;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin error {
  color: var(--dr-red);
  display: block;
  font-size: 12px;
}

@mixin hover($color) {
  position: relative;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    &:after {
      height: 450%;
      width: 110%;
      opacity: 1;
    }
  }

  &:after {
    content: "";
    width: 0;
    border-radius: 50%;
    opacity: .5;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    background: none repeat scroll 0 0 $color;
    height: 0;
    left: 50%;
    top: 50%;
    z-index: 0;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }

  >* {
    position: relative;
    z-index: 1;
  }
}